@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: hidden;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  --primary-color: rgba(132, 94, 194, 0.5);
}

.main_mask {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.main_mask::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 20;
  background-color: var(--primary-color);
  backdrop-filter: opacity(0);
  mask: linear-gradient(to right, red, transparent 15%),
    linear-gradient(to left, red, transparent 15%);
  -webkit-mask: linear-gradient(to right, red, transparent 15%),
    linear-gradient(to left, red, transparent 15%);
  pointer-events: none;
  touch-action: none;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.touch-me {
  width: 100px;
  height: 100px;
  background: darkgreen;
  border-radius: 50%;
}

body {
  background: white;
  background-size: cover;
}
.blobs {
  filter: url("#goo");
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@keyframes blob-left-top-anim {
  0% {
    transform: translate(0, 0);
  }
  33% {
    transform: translate(-65px, 0);
  }
  62% {
    transform: translate(-65px, 0);
  }
  94% {
    transform: translate(0, 0);
  }
}

@keyframes blob-right-top-anim {
  0% {
    transform: translate(0, 0);
  }
  33% {
    transform: translate(65px, 0);
  }
  64% {
    transform: translate(65px, 0);
  }
  96% {
    transform: translate(0, 0);
  }
}

.blob {
  position: absolute;
  background: red;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: white;
  font-size: 40px;
  border-radius: 100%;
  margin-top: -50px;
  margin-left: -50px;
  animation: blob-left-top-anim cubic-bezier(0.77, 0, 0.175, 1) 4s infinite;

  &:nth-child(2) {
    animation-name: blob-right-top-anim;
  }
}

.blob:nth-child(2) {
  background: blue;
  clip-path: polygon();
}

#ball {
  offset-path: path(
    "M10,400 L550,400 A50,50 0 0 0 600,350 L600,150 A50,50 0 0 1 650,100 L790,100"
  );
  animation: move 3s infinite;
}

@keyframes move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

@keyframes to-down {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(50px);
  }
}

.custom-cursor {
  cursor: url("/circle.png"), pointer;
}

.geist-medium {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
.custom-animate-pulse {
  animation: pulse 0.8s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
